attrs==21.2.0
backcall==0.2.0
bandit==1.7.0
debugpy==1.4.3
decorator==5.1.0
entrypoints==0.3
gitdb==4.0.7
GitPython==3.1.24
iniconfig==1.1.1
nest-asyncio==1.5.1
packaging==21.0
parso==0.8.2
pbr==5.6.0
pexpect==4.8.0
pickleshare==0.7.5
pluggy==1.0.0
prompt-toolkit==3.0.20
ptyprocess==0.7.0
py==1.10.0
pygame==2.0.1
Pygments==2.10.0
pyparsing==2.4.7
pytest==6.2.5
python-dateutil==2.8.2
PyYAML==5.4.1
pyzmq==22.3.0
selenium==3.141.0
six==1.16.0
smmap==4.0.0
stevedore==3.4.0
toml==0.10.2
tornado==6.1
traitlets==5.1.0
typing-extensions==3.10.0.2
urllib3==1.26.6
wcwidth==0.2.5
